body,p {margin: 0; padding: 0; font-family: 'Nanum Myeongjo', serif;}
	 .firstbox {background: rgb(1,108,255);background: linear-gradient(180deg, rgba(1,108,255,1) 0%, rgba(90,168,255,1) 42%, rgba(255,255,255,1) 100%); height: 6000px;}
	 .fx1 {position: relative; height: 2000px;}
	 .ff {position: absolute; top: 20px; z-index: 2}
	 .ff img {width:110%; z-index: 2;}
	 .t1 {background-color: #ffd200; height: 300px; position: absolute; top: 480px; left: 700px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t1 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .fi {position: absolute; top: 80px; z-index: 3}
	 .si {position: absolute; left: -300px; top: 700px; z-index: 1}
	 .si img {width: 170%; z-index: 1;}
	 .bee1 {position: absolute; top: -1000px; z-index: 10;  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";}
	 .bee1 img {width: 120%}
	 .bee2 {top: 0px; position: absolute; left: 600px; z-index: 10; top: -1000px;}
	 .bee2 img {width: 60%}
	 .fx2 {height: 2000px;}
	 .fs {position: absolute; top: -400px; z-index: 6; left: -200px;}
	 .ft {position: absolute; top: -400px; z-index: 1; left: -20px;}
	 .row {margin: auto; position: relative; margin: 0; padding: 0;}
	 .fx3 {height: 2000px;}
	 .tower {position: absolute; z-index: 1; left: -400px; top: -4800px;}
	 .tower img {width: 160%}
	 .f4 {position: absolute; top: -4300px; left: 380px; z-index: 20;}
	 .bee3 {position: absolute; z-index: 20; left: 150px; top: -3340px;}
	 .bee3 img {width: 130%; }
	 .bee4 {position: absolute; top: -3000px; z-index: 10; left: 0px;}
	 .bee4 img {width: 150%;}
	 .t2 {background-color: #ffd200; height: 300px; position: absolute; top: 500px; left: 0px;  border-radius: 15px; width: 800px; z-index: 20}
	 .t2 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5;}
	 .fx4 {height: 100px;}
	 .bee5 {position: absolute; top: -3380px;}
	 .bee5 img {width: 150%;}
	 .t3 {background-color: #ffd200; height: 300px; position: absolute; top: -3000px; left: 700px;  border-radius: 15px; z-index: 4; width: 500px;}
	 .t3 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .bee6 {position: absolute; top:-2000px; z-index: -1;}
	 .bee6 img {width: 150%}
	 .t4 {background-color: #ffd200; height: 300px; position: absolute; top: 600px; left: 700px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t4 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .t5 {background-color: #ffd200; height: 300px; position: absolute; top: 2500px; left: 0px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t5 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .xovnd {position: absolute; top: 2000px; left: 400px;}
	 .xovnd img {width: 80%;}
	 .t6 {background-color: #ffd200; height: 300px; position: absolute; top: 1480px; left: 700px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t6 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .t7 {background-color: #ffd200; height: 300px; position: absolute; top: 3480px; left: 0px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t7 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .t8 {background-color: #ffd200; height: 200px; position: absolute; top: 4480px; left: 800px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t8 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .t9 {background-color: #ffd200; height: 200px; position: absolute; top: 5480px; left: 0px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t9 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .t10 {background-color: #ffd200; height: 200px; position: absolute; top: 6480px; left: 800px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t10 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .bee7 {position: absolute; top: 1150px}
	 .bee7 img {width: 120%;}
	 .thirdbox {height: 6500px;}
	 .fourhbox {height: 8000px;}
	 .bee8 {position: absolute;}
	 .bee8 img {width: 120%}
	 .bee9 {position: absolute; z-index: 20; top: 2000px;}
	 .bee9 img {width: 120%;}
	 .t11 {background-color: #ffd200; height: 300px; position: absolute; top: 3480px; left: 0px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t11 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .bee10 {position: absolute; top: 5000px;}
	 .bee10 img {width: 120%;}
	 .t12 {background-color: #ffd200; height: 300px; position: absolute; top: 5880px; left: 700px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t12 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .t13 {background-color: #ffd200; height: 300px; position: absolute; top: 8500px; left: 0px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t13 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5;}	 
	 .bee11 {position: absolute; top: 11000px;}
	 .bee11 img {width: 120%;}
	 .t14 {background-color: #ffd200; height: 300px; position: absolute; top: 10900px; left: 700px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t14 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5; }
	 .t15 {background-color: #ffd200; height: 300px; position: absolute; top: 13500px; left: 0px;  border-radius: 15px; width: 800px; z-index: 4}
	 .t15 p {font-size: 1.7em; position: absolute;top: 60px; left: 60px; width: 440px; line-height: 1.5;}	
	.flexbox {display: flex; margin: 0; padding: 0;}
	.col-1 {width: 16.66%}
	.col-2 {width: 33.33%}
	.col-25 {width: 44%}
	.col-3 {width: 50%}
	.col-4{width: 66.66%}
	.col-5{width: 83.32%}
	.col-6{width: 100%}